.fa-file{font-size: 11px;}
.fa-sign-in{font-size: 11px;}
.fa-shopping-bag{font-size: 11px;}
.fa-eye{font-size: 11px;}


a{text-decoration: none; color:inherit;}
.banner{width: 100%; height: 320px; 
    background: url('../image/bg_topBg1_2.jpg');}

nav{width: 100%; height:80px; border-bottom: 1px solid #f0f0f0; box-sizing: border-box; }
nav ul{display: flex; list-style: none; width: 900px ; height:80px; 
margin:0 auto;}
nav ul li{width: 150px; height:80px; font-size: 19px; font-weight: 500; text-align: center;
color:#1d1d1d; letter-spacing:-0.5px; line-height: 80px;}

nav ul li:nth-child(2){width:60px;}
nav ul li:nth-child(3){width:120px;}
nav ul li a{display: inline-block; height:77px;}
nav ul li a:hover{border-bottom: 3px solid #718929; color:#718929}